@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

* {
  font-family: "Outfit", serif;
}

.mediaScrollBar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.mediaScrollBar::-webkit-scrollbar {
  display: none; 
}

.circularBtn {
  @apply w-12 h-12 md:w-14 md:h-14 rounded-full bg-TMDB-500 shadow-normal
}

.MediaScrollBtn {
  @apply px-2 m-2 w-12 h-12 md:w-14 md:h-14 rounded-full bg-TMDB-500 opacity-0 group-hover:opacity-100 transition-opacity duration-300 shadow-normal active:translate-y-1;
}

.MediaGenderScrollBtnRight {
  @apply absolute right-0 top-1/2 transform -translate-y-1/2 z-30 w-10 h-10 bg-gradient-to-l from-black active:scale-95
}

.MediaGenderScrollBtnLeft {
  @apply absolute left-0 top-1/2 transform -translate-y-1/2 z-30 w-10 h-10  bg-gradient-to-r from-black active:scale-95
}

.containerPadding {
  @apply px-5 md:px-16 lg:px-20
}

.containerMargin {
  @apply mx-5 md:mx-16 lg:mx-20
}

.posterSize {
  @apply min-w-40 max-w-40 md:min-w-48 md:max-w-48 min-h-60 max-h-60 md:min-h-72 md:max-h-72
}

.aspectBackdrop {
  @apply aspect-video w-full h-auto max-w-full sm:max-w-[300px] md:max-w-[350px] ;
}

.iconStyle {
  @apply flex justify-center items-center text-white m-1 w-10 h-10 duration-100 hover:bg-gray-500 text-2xl
}

.linkStyle {
  @apply text-white px-4 py-2 hover:text-white hover:underline duration-200 text-lg
}

.DrawerMenuText {
  @apply text-white text-lg font-medium hover:text-white border border-x-0 border-t-0 mx-2 py-3 w-auto
}

.blueTitle {
  @apply text-6xl md:text-8xl my-5 font-semibold text-TMDB-500 containerPadding
}

.verticalBlueTitle {
  @apply text-4xl md:text-5xl lg:text-7xl my-5 font-bold text-TMDB-500 rotate-180 [writing-mode:vertical-rl]
}